
<h2 class="register"> Yay you're registered <%= @subscriber.name %>! A text message was just sent to your cell with further instructions. </h2>

<div class= "gif"> <img src="http://media.tumblr.com/tumblr_m96ohz4Drz1rrmo7v.gif" alt= "HIGH FIVE!!!">